[submodule "utils/external/popl"]
	path = utils/external/popl
	url = https://github.com/ludojori/popl.git
[submodule "utils/external/Simple-Web-Server"]
	path = utils/external/Simple-Web-Server
	url = https://github.com/ludojori/Simple-Web-Server.git
[submodule "utils/external/valijson"]
	path = utils/external/valijson
	url = https://github.com/tristanpenman/valijson
[submodule "utils/external/mysql-connector-cpp"]
	path = utils/external/mysql-connector-cpp
	url = https://github.com/mysql/mysql-connector-cpp.git
[submodule "utils/external/Catch2"]
	path = utils/external/Catch2
	url = https://github.com/catchorg/Catch2.git
