[submodule "utils/external/popl"]
	path = utils/external/popl
	url = https://github.com/ludojori/popl.git
[submodule "utils/external/Simple-Web-Server"]
	path = utils/external/Simple-Web-Server
	url = https://github.com/ludojori/Simple-Web-Server.git
[submodule "utils/external/valijson"]
	path = utils/external/valijson
	url = https://github.com/tristanpenman/valijson
